asgiref==3.8.1
black==22.1.0
blue==0.9.1
click==8.1.7
Django==5.0.6
django-stubs==5.0.2
django-stubs-ext==5.0.2
flake8==4.0.1
isort==5.13.2
mccabe==0.6.1
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
setuptools==69.5.1
sqlparse==0.5.0
tomli==2.0.1
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.2
wheel==0.43.0
whitenoise==6.6.0
